@import './../../variables';

.card-article {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    &__title {
        display: inline-block
    }

    &__date {
        display: inline-block
    }
}