@import './../../variables';

.member-edit{
    position: relative;
    padding: 15px;
    flex: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space; 
    align-items: center; 

    &__button {
        position: absolute;
        top: 0;
        margin: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        &.save {
            right: 0;
            @include icon('save');  
        }
    
        &.previous { 
            left: 0;
            @include icon('arrow-left');  
        }
    }

    &__avatar {
        display: block;
        margin-top:20px;
        width: 100%;
        .dropzone-container__dropzone {
            background-image: url(../../../../assets/avatar3.png);
            border-radius: 180px;
            
        }
    }

    &__username {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-top:50px;
    }

    &__description {
        display: block;
        position: relative;
        font-size: 1rem;
        margin-top:30px;
        width: 100%;
    }

    &__experience {
        display: block;
        position: relative;
        font-size: 1rem;
        margin-top:30px;
        width: 100%;
    }

    &__working {
        display: block;
        position: relative;
        font-size: 1rem;
        margin-top:30px;
        width: 100%;
    }

    &__skills {
        display: block;
        position: relative;
        font-size: 1rem;
        margin-top:30px;
        margin-bottom:30px;
        width: 100%;
    }
}