@import url('https://fonts.googleapis.com/css?family=Lato');
@import './../assets/fonts/fontawesome-all.css';


body {
    font-size: 1rem;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
    border: none;
}

input[type="checkbox"] {
    display: inline;
    margin: 0 9px 0px 6px;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
}
