@import url('https://fonts.googleapis.com/css?family=Lato');
@import './../assets/fonts/fontawesome-all.css';
@import './components/variables';

html, body, #app {
    position: relative;
    height: 100%;
    margin: 0;
}

.app-container {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow: hidden;
    height: 100%;
    &__views {
        position: relative;
        height: calc(100% - 102px);
        @media only screen and (max-width: 768px) {
            height: calc(100% - 52px);
        }
    }   
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
    border: none;
}

input[type="checkbox"] {
    display: inline;
    margin: 0 9px 0px 6px;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
}
