{
  "globals": {
    "_": true
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "comma-dangle": 0,
    "curly": 0,
    "func-names": 0,
    "id-length": 1,
    "indent": [
      2,
      4
    ],
    "spaced-comment": 0,
    "no-param-reassign": 0,
    "no-return-assign": 0,
    "no-trailing-spaces": 0,
    "no-else-return": 0,
    "no-undef": 0,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "space-infix-ops": 0,
    "vars-on-top": 0,
    "guard-for-in": 0,
    "eqeqeq": 0,
    "new-cap": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
