@import './../variables';

.main-menu {
    position: relative;
    background: #2196f3;
    color: white;
    width: 100%;
    flex: none;
    display: block;
    height: 52px;


    &__container {
        display: flex;
        max-width: 1200px;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        background: linear-gradient(90deg, #2196f3,white, #2196f3);;
    }

    a {
        font-size: 1.5rem;
        margin: 1px 0 1px 1px;
        flex: auto;
        text-align: center;
        padding: 13px;
        background: #2196f3; 
        box-sizing: border-box;
        height: 50px;
        &.selected {
        }

    }
}