@import './../../variables';
.dropzone-container {
    display: block;
    position: relative;

    &__label{
        position: relative;
        font-size: 1rem;
        transform-origin: left;
        color: gray;
        text-transform: capitalize;
        width: 100%;
        margin-bottom: 5px;
    }

    &__dropzone {
        position: relative;
        width: 180px;
        height: 180px;
        background-size: cover;
        margin: auto;
        border: dashed 1px;
    }

    &__upload-label {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}