.property {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: solid 1px gray;
    &__label {
        text-transform: capitalize;
        font-size: 1.4rem;
        color: gray;
    }

    &__label {
        font-size: 1.4rem;
    }

}