@import './../../../variables';

.card-article {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: start;
    width: 100%;
    margin: 8px 0;
    flex: auto;

    &__owner {
        display: inline-block;
        vertical-align: top;
    }

    &__avatar {
        margin: 10px;
        display: inline-block
    }

    &__username {
        display: inline-block;
        padding: 10px 10px 10px 10px;
    }

    &__date {
        display: block;
        font-size: 0.7rem;
        padding: 0 10px 5px 10px;
    }

    &__title {
        display: inline-block;
        margin: 16px 34px;
    }
}