@import './../../variables';

.input {
    pointer-events: inherit;
    &__autolist {
        position: relative;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        &__item {
            text-align: left;
            padding: 10px;
            cursor: pointer;
            background-color: #fff; 
            border-bottom: 1px solid #d4d4d4; 
        }

    }
}