@import './../../variables';

.member {
    position: relative;
    padding: 15px;
    flex: auto;
    flex-direction: column;
    align-content: center;
    justify-content: space; 
    align-items: center; 

    &__avatar {
        display: block;
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 150px; 
        background-size: cover;
        background-image: url(../../../../assets/avatar3.png);
        background-color: black;
        margin-top:15px;
        margin: auto;
    }

    &__username {
        display: block;
        position: relative;
        text-align: center;
        font-size: 2rem;
        margin-top:15px;
    }

    &__description {
        display: block;
        position: relative;
        font-size: 1rem;
        margin-top: 30px;
        width: 100%;
        overflow-wrap: break-word;
        white-space: pre-line;
    }

    &__property  {
        align-self: normal;
    }

    &__tags  {
        width: 100%;
    }

    &__button { 
        position: absolute;
        top: 0;
        margin: 15px;
        font-size: 1.5rem;
        cursor: pointer;
        &.message {
            right: 0;
            @include icon('comment-alt'); 
        }
        &.edit {
            right: 0;
            @include icon('edit');  
        }
        &.previous {
            left: 0; 
            @include icon('arrow-left'); 
        }
        &.logout {
            position: relative;
            align-self: end;
            @include icon('sign-out-alt'); 
        }
    }
}