@import './../variables';

.optional .filter {
    display: none;
} 

.filter  {
    position: relative;
    z-index: 2;
    width: 100%;
    display: block;
    &__button {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        font-size: 1.8rem;
        z-index: 2;
        &::before  {
            margin: 12px;
            line-height: 50px;
        }
        @include icon('search');
    }

    &.show {
        .filter__container {
            display: block;
            transform: scale(1);
        }

        .filter__button {
            @include icon('times'); 
        }
    }

    &__container {
        position: absolute;
        width: 100%;
        max-width: 430px;
        top: 10px;
        right: 10px;
        background: white;
        display: block;
        transform: scale(0.001);
        transform-origin: right top;
        transition: transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
        box-shadow: -2px 2px 14px grey;

        @media only screen and (max-width: 768px) {
            top: 0;
            right: 0;
        }

        &__input {
            margin: 30px 15px 15px 15px;
        }

        &__checkbox{
            margin: 15px 15px;
            .checkbox__box {
                display: inline-block;
                margin-right: 20px;
            }
            .checkbox__label {
                display: inline-block;
            }

        }

        &__range  {
            margin: 15px 15px;
        }

        &__button {
            @include button(); 
            display: block;
            margin: 20px 15px;
            padding: 10px 0;
            text-align: center;
        }
    }
}