<title>Template</title>
<meta name="description" content="Template project" />
<meta property="og:title" content="Template" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://localhost" />
<meta property="og:image" content="http://localhost/assets/pic1.png" />
