@import './../../../../variables';

.comment {
    position: relative;
    flex-direction: row; 
    padding: 20px;
    background: #d1e8fb;
    margin: 20px 0 4px 0;
    border-radius: 10px;
    max-width: 100%;

    &__avatar {
        display: inline-block;
    }

    &__info {
        display: inline-block;
        vertical-align: top;
    }

    &__username {
        display: inline-block;
        padding: 0 10px 5px 10px;
    }

    &__date {
        display: block;
        font-size: 0.7rem;
        padding: 0 10px 5px 10px;
    }

    &__content {
        display: block;
        white-space: pre;
        margin: 10px 0 0 0;
    }

    &__actions {
        position: absolute;
        right: 0;
        top: 0;

        &__edit {
            display: inline-block;
            margin: 8px 4px;
            cursor: pointer;
            @include icon('edit'); 
        }  
    
        &__remove {
            display: inline-block;
            margin: 8px 4px;
            cursor: pointer;
            @include icon('trash'); 
        }  

    }

    &__reply {
        display: inline-block;
        padding: 10px 40px;
    }

    &__form {
        &__textarea {
            display: block;
            width: 100%;
            resize: vertical;
        }
    
        &__ok {
            display: inline-block;
            @include button();
            padding: 10px 40px;
        }
    
        &__cancel {
            display: inline-block;
            @include button();
            padding: 10px 40px;
        }
    }
}
