.card-member-message {
    margin: 0 0 2px 0;
    background-size: cover;
    cursor: pointer;
    box-sizing: border-box;
    background-image: url(../../../../assets/avatar3.png);
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}