@import './../variables';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #aaa;

    &__title{
        font-size: 1.5rem;
    }

    &__logout {
        margin: 0;
        font-size: 1.5rem;
    }
}