@import './../../variables';

.tags {
    position: relative;
    width: 100%;
    display: block;
    padding: 20px 0;
    &__label {
        line-height: 2.2rem;
        font-size: 1.4rem;
        color: gray;
        text-transform: capitalize;
        width: 150px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        flex-wrap: wrap;
        &__tag {
            position: relative;
            text-align: center;
            background: gray;
            padding: 10px 30px;
            margin: 10px;
            border-radius: 8px;
            color: white;
        }
    }
}