@import './../../variables';

.tags {
    position: relative;

    &__label {
        position: absolute;
        top: 0;
        line-height: 2.2rem;
        font-size: 1.4rem;
        transform:  scale(1) translateY(0rem);
        transform-origin: left;
        color: gray;
        text-transform: capitalize;
    }

    &__list {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &__tag {
            position: relative;
            width: 130px;
            text-align: center;
            background: gray;
            padding: 10px;
            margin: 6px;
        }
    }
}