 $focus-color: #2196f3;

@mixin view() { 
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    border: solid 1px;
    padding: 30px;
    margin: 5px;
}

@mixin button() { 
    display: inline-block;
    margin: 10px;
    padding: 10px 60px;
    border-radius: 2px;
    color: white;
    background: #2196F3;
    &:focus  {
        background: #1976D2;
    }
}
