@import './../../variables';

.discussions{
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    flex: initial;
    height: 100%;
    overflow: auto;
    width: 33%;
    min-width: 300px; 
    &:not(.optional) {
        width: 100%;
        height: calc(100% - 50px);
    }
    &__grid {
        @include column();
    }
}