@import './../../variables';

.selector {
    position: relative;
    &__label{
        position: relative;
        font-size: 1rem;
        transform-origin: left;
        color: gray;
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    &__value {
        background: transparent;
        font-size: 1.4rem;
        padding: 5px 2px;
        border-bottom: 1px solid gray;
        pointer-events:auto;
        -webkit-box-shadow: 0 0 0 30px white inset;
        width: 100%;
    }

    &__wrap {
        position: relative;
        display: block;
        @include icon('caret-down');
        content: '';
        &:before {
            position: absolute;
            right: 3px;
            font-size: 1.4rem;
            padding: 8px 2px;
        }
    }   
}
